body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}
   
h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
font-weight: 900;
}

a { text-decoration: none; }

#page-header { background-color: #1eb2a6; height: 100vh;}

#page-header .headshot {
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    background-image: url(./assets/RyanHeadshot.JPG);
    background-size: cover;
    background-position-y: -25px;
}

#page-header h1 {color: #d4f8e8;}

#page-header p {color: #d4f8e8;}